@model IEnumerable<TicketHive.Models.Concert>

@{
    ViewData["Title"] = "Index";
}

<h1>All Concerts</h1>

<p>
    <a asp-controller="Concerts" asp-action="Create">Create New Concert</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
     
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConcertTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                
                @* <th>
                    <img src="@(string.IsNullOrEmpty(item.Filename) ? "placeholder.jpg" : item.Filename)" alt="@item.Title" class="thumbnail" />
                </th> *@

                @* Check if the photo is a site rooted path or if its a url, if it is site rooted then it will display the place holder *@
                <th> 
                    <img src="@(Url.Content(string.IsNullOrEmpty(item.Filename) ? "~/concert-photos/placeholder.jpg" : (item.Filename.StartsWith("/") || item.Filename.StartsWith("http", System.StringComparison.OrdinalIgnoreCase) ? item.Filename : "~/concert-photos/" + item.Filename)))" alt="@item.Title" class="thumbnail" />
                </th>
               
            <td>
                @Html.DisplayFor(model => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @*Html.DisplayFor(modelItem => item.ConcertTime)*@
                @item.ConcertTime.ToString("MMM dd, yyyy, h:mm tt")
            </td>
             <td>
                @* @Html.DisplayFor(modelItem => item.PublishDate) *@
                @item.PublishDate.ToString("MMM dd, yyyy")
            </td>
            
            <td>
                <a asp-controller="Concerts" asp-action="Edit" asp-route-id="@item.ConcertId">Edit</a> |
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.ConcertId">Details</a> |
                <a asp-controller="Concerts" asp-action="Delete" asp-route-id="@item.ConcertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
